@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:wght@400;500;600;700&display=swap');

@theme {
  /* colors */
  --color-primary: #112250;
  --color-secondary: #f5f0e9;
  --color-tertiary: #d9cbc2;
  --color-accent: #e0c58f;
  --color-muted: #3c507d;
  --color-primary-font: #313131;
  /* font families */
  --font-Forum: 'Forum', sans-serif;
  --font-Montserrat: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
