@layer theme, base, mui, components, utilities;
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Montserrat:wght@400;500;600;700&display=swap");

@theme {
  --color-primary: #112250;
  --color-secondary: #F5F0E9;
  --color-tertiary: #D9CBC2;
  --color-accent: #E0C58F;
  --color-muted: #3C507D;

  --font-Forum: "Forum", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-secondary);
  color: var(--color-primary);
  font-family: var(--font-family-Montserrat);
}
